<section class="container">
	<hr>
	<h1>H-ASH PC Hardware Store</h1>
  <h2>Why go to Amazon when you have us :p</h2>
  <h3> This time is from ruby(server) <%= Time.now %> </h3>
  <p> static_page content will replace <code>yield</code> in application.html.erb </p>
	<hr>
</section>
