<section class="container margin-bottom-md">
  <header>
    <h1>New User</h1>
  </header>

  <%= render 'form', user: @user %>

  <%= link_to 'Back', users_path, class: 'btn btn-primary' %>

</section><!-- end - add new user form-->