<section class="container margin-bottom-md">
  <header>
    <h1><%= current_user.first_name + ' ' + current_user.last_name + "'s Orders"%></h1>
  </header>

  <table class="table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th colspan="3">Operations</th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.id %></td>
          <td><%= link_to 'Show/Edit', order, class: 'btn btn-success'%></td>
          <!--<td><%#= link_to 'Edit', edit_order_path(order), class: 'btn btn-warning' %></td>-->
          <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%#= link_to 'New Order', new_order_path, class: 'btn btn-primary' %>

</section><!-- end - Orders Dashboard -->