/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'shared';
@import 'jquery.raty';

body{
  padding-top: 50px; 
}

.navbar-right {
  padding-right: 15px;
}

.navbar-right {
  li { 
    a {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

.alert {
  @extend .margin-top-sm;
}

#search-form {
  margin: 0;
  @extend .margin-top-md;

  label {
    @extend .font-bold-normal;
    @extend .text-right;
    font-size: 1.2em;
    padding-right: 1em;
    width: 95%;
    box-sizing: border-box;
    line-height: 34px;
  }

  .btn,
  .form-group {
    padding-left: 0;
    padding-right: 0;
    * {
      padding-left: 0;
      padding-right: 0;
    }
  }

}

#user-buttons {
  @extend .block-fixed;
  z-index: 10000;
  right: -280px;
  top: 130px;
  height: 40px;
  width: 320px;
  padding: 0;
  transition: right 300ms;

  .input-group-btn {
    * {
      @extend .display-block;
      float: left;
      height: 40px;
      line-height: 40px;
      box-sizing: border-box;
      margin: 0;
    }
  }

  p {
    @extend .border-radius-removed;
    @extend .text-center;
    padding: 0;
    width: 200px;
  }

  .btn {
    padding: 0;
    width: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

#user-buttons.logged-in-widget.showed {
  right: -40px;
}

#user-buttons.showed {
  right: -200px;
}
.glyphicon-shopping-cart {
  @extend .font-size-1-5;
}

.zoomContainer {
  overflow: hidden;
}

/* Carousel Fading slide */
.carousel-fade .carousel-inner { background: #000; }
.carousel-fade .carousel-control { z-index: 2; }  
.carousel-fade .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  }

.carousel-fade .next.left,
.carousel-fade .prev.right,
.carousel-fade .item.active { opacity: 1; }

.carousel-fade .active.left,
.carousel-fade .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}


/* Safari Fix */
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}

.notification-popup {
  @extend .block-fixed;
  @extend .display-none;
  @extend .box-shadow-thin;
  @extend .font-color-1-vhi;
  @extend .background-color-1-vhi;
  z-index: 100000;
  padding: 1em;
  right: 15px;
  top: 70px;
  width: 300px;
}