@import 'shared';

// Product List ==========================================
.product-list {
  @extend .row-is-flex;
  
  >li {
    @extend .margin-bottom-md;

    >div {
      @extend .border-wrapper;
    }
  }

  .btn {
    float: right;
  }
}

.product-feature-list {
  padding-left: 2em;
  list-style: disc;
  @extend .margin-bottom-sm;
}

.product-image {
  @extend .display-block;
  
  img {
    @extend .block-center;
    @extend .margin-bottom-md;
    width: 70%;
  }
}

.product-name {
  @extend .display-block;
  @extend .font-size-1-5;
  @extend .font-bold-hi;
  @extend .font-color-1-lw;
}

.product-price{
  @extend .font-color-2-hi;
  @extend .font-size-1-5;
  @extend .font-bold-hi;
  float: left;
}

.product-description {
  @extend .margin-top-sm;
}

// Product Showcase ==========================================

.product-showcase {
  >div {
    @extend .margin-bottom-md;
    margin: 1em;  
  }

  .carousel {
    margin-bottom: 6em;
  }

  .carousel-inner {
    img {
      width: 100%
    }
  }

  .carousel-indicators {
    height: 60px;
    overflow-x: scroll;
    overflow-y: hidden;
    >li,
    >li.active {
      display: block;
      float: left;
      @extend .border-radius-removed;
      border-color: $background-color-2-lw;
      width: 80px;
      height: 45px;
  
      img {
        width: 100%;
        height: 100%;
      }
    }
  
    >li.active {
      border-color: $background-color-1-md;
      background-color: rgba($color: #000000, $alpha: 0.0);
    }
  }
  
  .carousel-indicators{
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    bottom: -20%;
  }

  .carousel-control {
    width: 6%;
  }
}



// Order Action ==========================================

.order-action{
  .product-rating {
    @extend .margin-bottom-sm;

    span:not(.rated) {
      @extend .font-color-1-vhi;
      padding-right: 1em;
    }
  }
  
  .order-action-main {
    @extend .background-color-1-lw;
    @extend .box-shadow-thin;
    padding: 1em;

    .btn{
      float: right;
    }
  }

  

  .product-price{
    @extend .font-color-1-vhi;
    float: left;
  }
}

// Product Reviews =======================================
.comment {
  @extend .margin-bottom-md;
  border-bottom: 1px solid $font-color-1-vhi;

  .comment-time {
    @extend .display-block;
    @extend .font-size-0-8;
    float: right;

  }

  .rated {
    @extend .display-block;
    @extend .margin-bottom-sm;
  }

  p {
    @extend .font-bold-normal;
    word-wrap: break-word;
  }
}


@media (max-width: 767px) {
  .product-showcase {
    .carousel-indicators{
      display: none;
    }
  
    .carousel {
      margin-bottom: $separator-sm;
    }
  }
}