// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


a {
  text-decoration: none !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

$background-color-1-vhi: #000E1C;
$background-color-1-hi: #002447;
$background-color-1-md: #004384;
$background-color-1-lw: #0155A7;


$background-color-2-vhi: rgb(150, 0, 0);
$background-color-2-hi: rgb(150, 30, 30);
$background-color-2-md: rgb(150, 60, 60);
$background-color-2-lw: rgb(150, 90, 90);

$font-color-1-vhi: #eee;
$font-color-1-hi: #aaa;
$font-color-1-md: #777;
$font-color-1-lw: #333;

$font-color-2-vhi: #331600;
$font-color-2-hi: #5A2D0B;
$font-color-2-md: #A76D43;
$font-color-2-lw: #D59F78;

// Background Colors ==========================================
.background-color-1-vhi {
  background-color: $background-color-1-vhi !important;
}

.background-color-1-vh {
  background-color: $background-color-1-hi !important;
}

.background-color-1-md {
  background-color: $background-color-1-md !important;
}

.background-color-1-lw {
  background-color: $background-color-1-lw !important;
}

.background-color-2-vhi {
  background-color: $background-color-2-vhi !important;
}

.background-color-2-vh {
  background-color: $background-color-2-hi !important;
}

.background-color-2-md {
  background-color: $background-color-2-md !important;
}

.background-color-2-lw {
  background-color: $background-color-2-lw !important;
}

// Font colors ==========================================
.font-color-1-vhi {
  color: $font-color-1-vhi !important;
}

.font-color-1-vh {
  color: $font-color-1-hi !important;
}

.font-color-1-md {
  color: $font-color-1-md !important;
}

.font-color-1-lw {
  color: $font-color-1-lw !important;
}

.font-color-2-vhi {
  color: $font-color-2-vhi !important;
}

.font-color-2-vh {
  color: $font-color-2-hi !important;
}

.font-color-2-md {
  color: $font-color-2-md !important;
}

.font-color-2-lw {
  color: $font-color-2-lw !important;
}

// Text Style ==========================================
.text-center {
  text-align: center !important;
}

// Extra Style ==========================================
.box-shadow-thick {
  box-shadow: 2px 2px 3px $font-color-1-vhi !important;
}

.box-shadow-thick {
  box-shadow: 1px 1px 2px $font-color-1-vhi !important;
}

.box-radius-remove {
  border-radius: 0 !important;
}

.display-block {
  display: block !important;
}

.block-center {
  margin: 0 auto !important;
}

// Navbar Style ==========================================
.navbar {
  @extend .background-color-1-vhi;
  @extend .box-radius-remove;
}

// Footer Style ==========================================
footer {
  @extend .background-color-1-vhi;
  @extend .font-color-1-vhi;
  @extend .text-center;
  height: 50px;
  line-height: 50px;
}

// Product List ==========================================
.product-list {
  >ul {
    >li {
      margin-bottom: 2em;

      div {
        padding: 1em;
        border: 1px solid $font-color-1-hi;
      }
    }

    ul{
      padding-left: 2em;
      list-style: disc;
    }
  }

  img {
    @extend .display-block;
    @extend .block-center;
    width: 70%;
  }

  h3 {
    @extend .text-center;
  }

  .btn{
    float: right;
  }
}