<section class="container">
  <header>
    <h3><strong>Your Review</strong></h3>
  </header>
  <div class="row">
    <div class="comment col-xs-12 col-sm-12 col-md-8">
      <%= render partial: 'products/comment', locals: { comment: comment }%>
    </div>
  </div>
</section>