<section id="edit-product" class="container">
  <header>
    <h1>Editing Product</h1>
  </header>
  <hr>

  <%= render 'form', product: @product %>

  <%= link_to 'Show', @product, class: "btn btn-primary" %> |
  <%= link_to 'Back', products_path, class: "btn btn-primary" %>
  <hr>
  <br>

</section><!-- end - product edit section-->