<section id="product-list" class="container">
  <header>
    <h1>Products</h1>
  </header>
  <ul class="product-list">
    <% @products.each do |product| %>
    <li class="col-xs-12 col-sm-4">
      <%= render partial: "product", locals:{product: product} %>
    </li>
    <% end %>
  </ul>
  <div class="clearfix"></div>
  <%= will_paginate @products %>
</section><!-- end - product-lists -->