<!DOCTYPE html>
<html>
  <head>
    <title>H-ASH PC Store</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">

      <div class="navbar-header">
        <a href="/static_page/index" class="navbar-brand">H-ASH</a>
        <button class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle Navbar</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="/static_page/index">Home</a></li>
          <li><a href="/static_page/about">About</a></li>
          <li><a href="/static_page/contact">Contact</a></li>
        </ul>
      </div>
    </nav><!-- end - navbar -->
    <%= yield %> <!-- end - content filled by ruby (yeild) -->
    <footer class="container-fluid">
      Copyright &copy; 2017, Hamza Ashour
    </footer><!-- end - footer -->
  </body>
</html>
